.loader-backdrop{
    display: flex;
    flex-direction: column;
    flex: 1;
}

.loader {
    font-size: var(--body-medium);
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 1rem;
    font-weight: 500;
    padding: 2rem;
}
.spinner{
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    border: 0.3rem solid var(--dark-color-light);
    border-top-color: var(--primary-color);
    border-right-color: var(--primary-color);
    animation: spin 0.75s linear infinite;
}


@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    from {
        transform: rotate(-360deg);
    }
}