.commentsContainer {
    margin-top: 2rem;
    width: 60%;
}

.commentsTitle {
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
    font-size: var(--body-large);
    font-weight: 600;
    margin-bottom: 1rem;
}

.commentInputContainer {
    margin: 1.5rem 0;
    display: flex;
    flex-direction: column;
    align-items: right;
    row-gap: 0.5rem;
    width: 100%;
}

.commentInput {
    border-radius: 0.25rem;
    padding: 0.5rem;
    border: 0.125rem solid var(--dark-color-medium);
    outline: none;
    resize: none;
    height: 100px;
}

.commentBtn {
    width: max-content;
    align-self: flex-end;
}


.comments {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.loadMoreContainer {
    margin-top: 1rem;
    text-align: center;
    text-decoration: underline;
}

@media (max-width: 800px) {
    .commentsContainer{
        width:100%;
    }
}