.projectCardOuterContainer{
    padding:1.5rem;
    background-color: white;
    box-shadow: var(--box-shadow-light);
    border-radius: 1rem;
    position: relative;
    z-index:0;
    transition: box-shadow 0.2s ease-in-out;
    cursor: pointer;
}

.projectCardOuterContainer:nth-of-type(odd) {
    background-color: var(--primary-color-light-extreme);
}

.projectCardOuterContainer:nth-of-type(even) {
    background-color: var(--secondary-color-light-extreme);
}

.projectCardOuterContainer:hover {
    box-shadow: var(--box-shadow-medium);
}

.projectCardInnerContainer{
    border:0.1rem solid var(--dark-color);
    border-radius:0.5rem;
    overflow: hidden;
    background-color: white;
    position: relative;
    z-index:2
}

.projectImage{
    width:100%;
    height: auto;
}

.projectCardContent{
    padding:0.75rem;
}

.projectCardHead{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom:0.5rem;
}

.projectName{
    font-size: var(--body-large);
    font-weight: 600;
}

.circleDesign{
    width:20%;
    position: absolute;
    height: auto;
    top:1%;
    right:1%;
    z-index: 1;
}

.largeTriangleDesign{
    width: 20%;
    height: auto;
    position: absolute;
    top:60%;
    left:2%;
    z-index:1;
    transform: rotate(135deg);
}

.smallTriangleDesign{
    width: 15%;
    height:auto;
    position: absolute;
    bottom:0;
    right:0;
    transform: rotate(-90deg);
    z-index:1
}