.popupOuterContainer{
    position: fixed;
    top:0;
    left:0;
    width: 100vw;
    height: 100vh;
    background-color: var(--dark-color-transparent);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.popupInnerContainer {
    background-color: var(--light-color);
    width:50%;
    border-radius: 0.25rem;
    overflow: hidden;
}

@media(max-width: 1200px) {
    .popupInnerContainer {
        width: 60%;
    }
}

@media(max-width: 800px) {
    .popupInnerContainer {
        width: 75%;
    }
}

@media(max-width: 550px) {
    .popupInnerContainer {
        width: 90%;
    }
}

@media(max-width: 450px) {
    .popupInnerContainer {
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    .popupLower {
        width:100%;
    }
}