:root{
    --primary-color: #0085FF;
    --primary-color-light-extreme: #F5FAFF;
    --primary-color-light:#DEEDFF; 

    --secondary-color: #FD8E27;
    --secondary-color-light-extreme: #FFF8F2;
    --secondary-color-light: #FFEBD9;

    --color-coral-red: #FF4033;

    --color-bronze: #E9862B;
    --color-bronze-light: #FFF5EB;

    --color-silver: #9B9B9B;
    --color-silver-light: #F2F2F2;

    --color-gold: #B59902;
    --color-gold-light: #FFF9D9;

    --dark-color: #000000;
    --light-color: #FFFFFF;

    --base-font-size: 1rem;
    --page-sides-padding: 10%;

    --body-large: calc(var(--base-font-size) * 1.5);
    --body-medium: calc(var(--base-font-size) * 1.25);
    --body-normal: var(--base-font-size);
    --body-small: calc(var(--base-font-size) * 0.75);
}

*{
    margin:0;
    padding:0;
}

body{
    overflow-x: hidden;
}

h1{
    font-size: calc(var(--base-font-size) * 3.25);
}

h2{
    font-size: calc(var(--base-font-size) * 2.5);
    font-weight: 600;
}

h3 {
    font-size: calc(var(--base-font-size) * 2.25);
    font-weight: 600;
}

.body-large{
    font-size: calc(var(--base-font-size) * 1.5);
}

.body-medium {
    font-size: calc(var(--base-font-size) * 1.25);
}

.body-normal {
    font-size: calc(var(--base-font-size));
}

.body-small {
    font-size: calc(var(--base-font-size) * 0.75);
}

button, input, textarea,select {
    font-family: inherit;
}

button{
    font-weight:500;
    padding:0.5rem 1rem;
    border-radius:0.25rem;
    border:0;
    cursor: pointer;
}

.button-with-icon{
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
}

.button-primary{
    background-color: var(--primary-color);
    color: var(--light-color);
}

.button-secondary{
    background-color: var(--secondary-color);
    color: var(--light-color);
}

.button-large{
    font-size: calc(var(--base-font-size) * 1.5)
}