:root{
    --primary-color: #0085FF;
    --primary-color-light-extreme: #F5FAFF;
    --primary-color-light:#DEEDFF; 

    --secondary-color: #FD8E27;
    --secondary-color-dark: #e47610;
    --secondary-color-light-extreme: #FFF8F2;
    --secondary-color-light: #FFEBD9;

    --error-color: #DC4C64;
    --success-color: #14A44D;

    --info-color: #54B4D3;
    --info-color-light: #edf5f8;

    --color-coral-red: #FF4033;

    --color-bronze: #E9862B;
    --color-bronze-light: #FFF5EB;

    --color-silver: #9B9B9B;
    --color-silver-light: #F2F2F2;

    --color-gold: #B59902;
    --color-gold-light: #FFF9D9;

    --dark-color: #000000;
    --dark-color-medium: #919191;
    --dark-color-light: #F1F1F1;
    --dark-color-transparent: rgba(0,0,0,0.5);
    --light-color: #FFFFFF;

    --base-font-size: 1rem;
    --page-sides-padding: 7.5%;

    --body-large: calc(var(--base-font-size) * 1.5);
    --body-medium: calc(var(--base-font-size) * 1.25);
    --body-normal: var(--base-font-size);
    --body-small: calc(var(--base-font-size) * 0.75);

    --box-shadow-light: 0 4px 12px rgba(0,0,0,0.15);
    --box-shadow-medium: 0 4px 15px rgba(0,0,0,0.3);

    --animation-duration: 0.75s;
}

*{
    margin:0;
    padding:0;
}

html{
    width:100vw;
    overflow-x: hidden;
}

body{
    position: relative;
    overflow-x: hidden;
    width:100%;
}

h1{
    font-size: calc(var(--base-font-size) * 3.25);
}

h2{
    font-size: calc(var(--base-font-size) * 2.5);
    font-weight: 600;
}

h3 {
    font-size: calc(var(--base-font-size) * 2.25);
    font-weight: 600;
}

h4 {
    font-size: calc(var(--base-font-size) * 1.75);
    font-weight: 600;
}

.body-large{
    font-size: calc(var(--base-font-size) * 1.35);
}

.body-medium {
    font-size: calc(var(--base-font-size) * 1.25);
}

.body-normal {
    font-size: calc(var(--base-font-size));
}

.body-small {
    font-size: calc(var(--base-font-size) * 0.8);
}

button, input, textarea,select {
    font-family: inherit;
}

.page{
    min-height:90vh;
}

.orange-link {
    color: var(--secondary-color-dark);
}

/* buttons */

button{
    font-weight:500;
    padding:0.5rem 1rem;
    border-radius:0.25rem;
    border:0;
    cursor: pointer;
    width:max-content;
    font-size:var(--body-normal);
}

button:disabled {
    opacity: 0.7;
    cursor: not-allowed;
}

.button-with-icon{
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
    width:max-content;
    font-size:var(--body-normal);
}

.button-primary{
    background-color: var(--primary-color);
    color: var(--light-color);
}

.button-secondary{
    background-color: var(--secondary-color);
    color: var(--light-color);
}

.button-danger {
    background-color: var(--error-color);
    color: var(--light-color);
}

.button-secondary-light {
    background-color: var(--secondary-color-light);
}

.button-large{
    font-size: calc(var(--body-large));
    padding:0.5rem 2rem;
}

.button-medium {
    font-size: var(--body-medium);
}

.button-icon{
    height:1.5rem;
    width:auto;
}

.button-transparent{
    background-color: transparent;
}

.button-border-primary {
    color: var(--primary-color);
    border-style: solid;
    border-color: var(--primary-color)
}

.button-border-secondary {
    color: var(--secondary-color);
    border-style: solid;
    border-color: var(--secondary-color)
}

.button-border-dark{
    color: var(--dark-color);
    border-style: solid;
    border-color: var(--dark-color)
}

.button-border-thick {
    border-width: 0.2rem;
}

.button-border-medium{
    border-width: 0.15rem;
}

.button-border-normal{
    border-width: 0.125rem;
}

.button-border-thin{
    border-width: 0.1rem;
}

/* form inputs */

.input-group {
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
}

.input{
    padding:0.75rem 1rem;
    background-color: var(--dark-color-light);
    border-radius: 0.25rem;
    border:0;
}

.input-label{
    font-weight: 600; 
}

.textarea {
    padding:0.75rem 1rem;
    resize: none;
    height:200px;
    border-radius:0.25rem;
    border:0;
    background-color: var(--dark-color-light);
}

.form-field-error {
    color: var(--error-color);
    font-size: var(--body-small);
}

.checkbox-group {
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
    width:max-content;
}


.checkbox {
    cursor: pointer;
}

.checkbox:disabled {
    opacity:0.7;
    cursor: not-allowed;
}

.checkbox-label {
    cursor: pointer;
    font-size: var(--body-medium);
}

.checkbox-label-disabled {
    opacity:0.7;
    cursor: not-allowed;
}

.radio-group {
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
    width:max-content;
}

.radio-small {
    cursor: pointer;
    width: 0.8rem;
    height: 0.8rem;
}

.radio-normal {
    cursor: pointer;
    width: 1rem;
    height: 1rem;
}

.radio-medium {
    cursor: pointer;
    width: 1.25rem;
    height: 1.25rem;
}

.radio-large {
    cursor: pointer;
    width: 1.5rem;
    height: 1.5rem
}


.radio-label-small {
    cursor: pointer;
    font-size: var(--body-small);
}


.radio-label-normal {
    cursor: pointer;
    font-size: var(--body-normal);
}

.radio-label-medium {
    cursor: pointer;
    font-size: var(--body-medium);
}

.radio-label-large {
    cursor: pointer;
    font-size: var(--body-large);
}


/* animations */

.fadeInFromLeft {
    animation: fadeInFromLeft var(--animation-duration) ease-in-out;
}

.fadeInFromRight {
    animation: fadeInFromRight var(--animation-duration) ease-in-out;
}

.fadeInFromTop {
    animation: fadeInFromTop var(--animation-duration) ease-in-out;
}

.fadeIn {
    animation: fadeIn var(--animation-duration) ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity:0;
    }
    to{
        opacity: 1; 
    }
}

@keyframes fadeInFromLeft {
    from {
        opacity:0;
        transform: translateX(-100px);
    }
    to{
        opacity: 1;   
        transform: translateX(0px);   
    }
}

@keyframes fadeInFromRight {
    from {
        opacity: 0;
        transform: translateX(100px);
    }
    to{
        opacity: 1;   
        transform: translateX(0px);   
    }
}

@keyframes fadeInFromTop {
    from {
        opacity: 0;
        transform: translateY(-25px);
    }
    to{
        opacity: 1;   
        transform: translateY(0px);   
    }
}

@media (max-width: 1200px) {
    :root {
        --base-font-size: 0.9rem;
    }
}

@media (max-width: 1100px) {
    :root {
        --base-font-size: 0.85rem;
    }
}

@media (max-width: 1000px) {
    :root {
        --base-font-size: 0.75rem;
    }
}

@media (max-width: 900px) {
    :root {
        --base-font-size: 0.7rem;
    }
}

@media (max-width: 800px) {
    :root {
        --base-font-size: 0.65rem;
    }
}

@media (max-width: 650px) {
    .button {
        font-size: var(--body-medium);
    }

    .button-with-icon{
        font-size:var(--body-medium);
    }

    .button-medium {
        font-size: var(--body-large);
    }

    .button-large {
        font-size: calc(var(--base-font-size) * 1.45)
    }
}

@media (max-width: 425px) {
    :root {
        --base-font-size: 0.6rem;
    }

    .button {
        font-size: var(--body-large);
    }

    .button-with-icon{
        font-size:var(--body-large);
    }

    .button-medium {
        font-size: calc(var(--body-large) * 1.1rem);
    }

    .button-large {
        font-size: calc(var(--body-large) * 1.25)
    }
}

@media (max-width: 375px) {
    :root {
        --base-font-size: 0.5rem;
    }
}