:root{
    --primary-color: #0085FF;
    --primary-color-light-extreme: #F5FAFF;
    --primary-color-light:#DEEDFF; 

    --secondary-color: #FD8E27;
    --secondary-color-light-extreme: #FFF8F2;
    --secondary-color-light: #FFEBD9;

    --error-color: #DC4C64;

    --color-coral-red: #FF4033;

    --color-bronze: #E9862B;
    --color-bronze-light: #FFF5EB;

    --color-silver: #9B9B9B;
    --color-silver-light: #F2F2F2;

    --color-gold: #B59902;
    --color-gold-light: #FFF9D9;

    --dark-color: #000000;
    --dark-color-medium: #919191;
    --dark-color-light: #F1F1F1;
    --dark-color-transparent: rgba(0,0,0,0.5);
    --light-color: #FFFFFF;

    --base-font-size: 1rem;
    --page-sides-padding: 7.5%;

    --body-large: calc(var(--base-font-size) * 1.5);
    --body-medium: calc(var(--base-font-size) * 1.25);
    --body-normal: var(--base-font-size);
    --body-small: calc(var(--base-font-size) * 0.75);

    --box-shadow-light: 0 4px 12px rgba(0,0,0,0.15);
    --box-shadow-medium: 0 4px 15px rgba(0,0,0,0.3);

    --animation-duration: 0.75s;
}

*{
    margin:0;
    padding:0;
}

body{
    overflow-x: hidden;
    width:100%;
}

h1{
    font-size: calc(var(--base-font-size) * 3.25);
}

h2{
    font-size: calc(var(--base-font-size) * 2.5);
    font-weight: 600;
}

h3 {
    font-size: calc(var(--base-font-size) * 2.25);
    font-weight: 600;
}

.body-large{
    font-size: calc(var(--base-font-size) * 1.5);
}

.body-medium {
    font-size: calc(var(--base-font-size) * 1.25);
}

.body-normal {
    font-size: calc(var(--base-font-size));
}

.body-small {
    font-size: calc(var(--base-font-size) * 0.8);
}

button, input, textarea,select {
    font-family: inherit;
}

.page{
    min-height:90vh;
}

/* buttons */

button{
    font-weight:500;
    padding:0.5rem 1rem;
    border-radius:0.25rem;
    border:0;
    cursor: pointer;
    width:max-content;
    font-size:var(--body-normal);
}

button:disabled {
    opacity: 0.7;
    cursor: not-allowed;
}

.button-with-icon{
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
    width:max-content
}

.button-primary{
    background-color: var(--primary-color);
    color: var(--light-color);
}

.button-secondary{
    background-color: var(--secondary-color);
    color: var(--light-color);
}

.button-secondary-light {
    background-color: var(--secondary-color-light);
}

.button-large{
    font-size: calc(var(--base-font-size) * 1.25);
    padding:0.5rem 2rem;
}

.button-medium {
    font-size: var(--base-font-size);
}

.button-icon{
    height:1.5rem;
    width:auto;
}

.button-transparent-primary{
    background-color: transparent;
    border: 0.15rem solid var(--primary-color);
    color: var(--primary-color)
}

.button-transparent-dark{
    background-color: transparent;
    border: 0.15rem solid var(--dark-color);
}

/* form inputs */

.input-group {
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
}

.input{
    padding:0.75rem 1rem;
    background-color: var(--dark-color-light);
    border-radius: 0.25rem;
    border:0;
}

.input-label{
    font-weight: 600; 
}

.textarea {
    padding:0.75rem 1rem;
    resize: none;
    height:200px;
    border-radius:0.25rem;
    border:0;
    background-color: var(--dark-color-light);
}

.form-field-error {
    color: var(--error-color);
    font-size: var(--body-small);
}

.checkbox-group {
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
    width:max-content;
}


.checkbox {
    cursor: pointer;
}

.checkbox-label {
    cursor: pointer;
}

.radio-group {
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
    width:max-content;
}

.radio {
    cursor: pointer;
}

.radio-label {
    cursor: pointer;
}

.fadeInFromLeft {
    animation: fadeInFromLeft var(--animation-duration) ease-in-out;
}

.fadeInFromRight {
    animation: fadeInFromRight var(--animation-duration) ease-in-out;
}

.fadeInFromTop {
    animation: fadeInFromTop var(--animation-duration) ease-in-out;
}

.fadeIn {
    animation: fadeIn var(--animation-duration) ease-in-out;
}


/* animations */

@keyframes fadeIn {
    from {
        opacity:0;
    }
    to{
        opacity: 1; 
    }
}

@keyframes fadeInFromLeft {
    from {
        opacity:0;
        transform: translateX(-100px);
    }
    to{
        opacity: 1;   
        transform: translateX(0px);   
    }
}

@keyframes fadeInFromRight {
    from {
        opacity: 0;
        transform: translateX(100px);
    }
    to{
        opacity: 1;   
        transform: translateX(0px);   
    }
}

@keyframes fadeInFromTop {
    from {
        opacity: 0;
        transform: translateY(-25px);
    }
    to{
        opacity: 1;   
        transform: translateY(0px);   
    }
}


@media (max-width: 1300px) {
    :root {
        --base-font-size: 0.9rem;
    }
}

@media (max-width:1100px) {  
    :root {
        --base-font-size: 0.8rem;
    }
}

@media (max-width: 975px) {
    :root {
        --base-font-size: 0.7rem;
    }

    button {
        font-size: var(--body-medium);
    }

    .button-large{
        font-size:var(--body-large);
    }

    .button-medium{
        font-size:var(--body-medium);
    }

    .button-icon{
        height:1.25rem;
        width:auto;
    }
}

@media (max-width: 800px) {
    :root {
        --base-font-size: 0.6rem;
    }
}

@media (max-width:650px) {
    :root {
        --base-font-size: 0.7rem;
    }
}

@media (max-width:400px) {
    :root {
        --base-font-size: 0.55rem;
    }
}