.heroSection{
    padding: 3rem var(--page-sides-padding);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}

.tagline{
    margin-bottom:3rem;
}

.heroIllustration{
    justify-self: right;
    width:80%;
    height:auto;
}

.highLightedText{
    position: relative;
}

.highLightedText:before {
    content:'';
    background-image: url('../assets/curve-design-element.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    position: absolute;
    width:100%;
    height:1rem;
    bottom: -50%;
    overflow: hidden;
    left:0;
}

.circleDesign{
    position:absolute;
    top:0;
    left:95%;
    z-index:-1;
    width:30%;
    height:auto;
}

.triangleDesign{
    position: absolute;
    top:40%;
    left:-5%;
    z-index:-1;
    width:30%;
    height:auto;
}

.getCodingLink{
    text-decoration: none;
}

.whySection{
    padding:2rem var(--page-sides-padding);
    background-image : -moz-linear-gradient(90deg,#fff8f2,#f5faff);
    background-image : -webkit-linear-gradient(90deg,#fff8f2,#f5faff);
    background-image : linear-gradient(90deg,#fff8f2,#f5faff);
}

.whyTitle{
    text-align:center;
    margin-bottom:2rem;
}

.whyContent{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
}

.whyIllustration{
    width:80%;
    height:auto;
}

.whyText{
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
    font-size: var(--body-medium);
}

.howSection{
    padding: 2rem var(--page-sides-padding);
}

.howTitle{
    text-align: center;
    margin-bottom: 2rem;
}

.howContent{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
}

.howIllustration{
    width:80%;
    height:auto;
    justify-self:right;
}
.step {
    position: relative;
}

.step:nth-of-type(2) {
    margin-left: 6rem;
}

.stepNo{
    font-size: calc(var(--base-font-size) * 6);
    font-weight: 700;
    color: var(--primary-color-light);
    position: absolute;
    z-index:-1;
    top:-40%;
    left:-5%;
}

.stepTitle{
    font-size: var(--body-large);
    font-weight: 600;
    margin-bottom:0.5rem;
}
.stepDesc{
    font-size: var(--body-medium);
}

.arrow {
    padding:2rem 0;
    margin-left:3rem;
    height:4rem;
    width:auto;
}

.arrow:nth-of-type(1){
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg) ;
}

.arrow:nth-of-type(2){
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg) ;
}

/* big tablet design */
@media (max-width:750px) {
    .heroIllustration{
        display: none;
    }

    .heroSection {
        display: block;
        text-align: center;
    }
}

@media (max-width:650px) {
    .whyContent, .howContent{
        display: flex;
        flex-direction: column;
        row-gap:1rem;
    }

    .whyIllustration, .howIllustration {
        width:70%;
    }

    .howContent {
        flex-direction: column-reverse;
    }
}