.projectContainer{
    padding: 2rem var(--page-sides-padding);
}

.projectHeader{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.projectTitle {
    display: flex;
    align-items: center;
    column-gap: 1.5rem;
}

.projectName {
    font-size: calc(var(--body-large) * 1.25);
}

.headerRight{
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
}

.likeCount{
    font-size: var(--body-medium);
    font-weight: 500;
}

.projectDetails{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin-top: 1rem;
    column-gap:2rem;
}

.projectImage {
    width:100%;
    height:auto;
    border-radius: 0.25rem;
}

.projectInfo{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap:2rem;
    padding: 1.5rem 0;
}

.projectActions{
    display: flex;
    align-items: center;
    column-gap:2rem;
}

.projectPointers{
    margin-top:2rem;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap:1rem;
}

.conceptsAndResources > .pointersContainer:nth-of-type(odd) {
    background-color: var(--primary-color-light-extreme);
}

.conceptsAndResources > .pointersContainer:nth-of-type(even) {
    background-color: var(--secondary-color-light-extreme);
}

.heartIcon{
    cursor: pointer;
}

.commentsContainer{
    margin-top:2rem;
    width:60%;
}

.commentsTitle{
    display: flex;
    align-items: center;
    column-gap:0.5rem;
    font-size: var(--body-large);
    font-weight: 600;
    margin-bottom:1rem;
}

.commentInputContainer{
    margin:1.5rem 0;
    display: flex;
    flex-direction: column;
    align-items: right;
    row-gap:0.5rem;
    width:100%;
}

.commentInput{
    border-radius: 0.25rem;
    padding: 0.5rem;
    border: 0.125rem solid var(--dark-color-medium);
    outline:none;
    resize:none;
    height:100px;
}

.commentBtn {
    width: max-content;
    align-self: flex-end;
}

.comments{
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}