.projectContainer{
    padding: 2rem var(--page-sides-padding);
}

.projectHeader{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.projectTitle {
    display: flex;
    align-items: center;
    column-gap: 1.5rem;
}

.projectName {
    text-transform: capitalize;
    font-size: calc(var(--body-large) * 1.25);
}

.headerRight{
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
}

.likeCount{
    font-size: var(--body-medium);
    font-weight: 500;
}

.projectDetails{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin-top: 1rem;
    column-gap:2rem;
}

.projectImage {
    width:100%;
    height:auto;
    border-radius: 0.25rem;
    box-shadow: var(--box-shadow-light);
}

.projectInfo{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap:2rem;
    padding: 1.5rem 0;
}

.projectExtraDetails{
    margin-top: 2rem;
}

.tabsContainer{
    display: flex;
    column-gap: 2rem;
    border-bottom: 1px solid var(--dark-color-medium);
}

.tab{
    font-weight: 600;
    padding: 0.75rem 0.25rem;
    cursor: pointer;
    position: relative;
}

.active:before {
    content: '';
    width:100%;
    height:3px;
    display: block;
    background-color: var(--secondary-color);
    border-radius: 2rem;
    position: absolute;
    bottom:-1.5px;
    left:0;
    animation: widthIncrease 0.15s ease-in-out;
    transform-origin: center;
}

/* .active {
    border-bottom: 5px solid var(--secondary-color);
} */

.projectActions{
    display: flex;
    align-items: center;
    column-gap:2rem;
}

.projectPointers{
    margin-top:1.5rem;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap:1rem;
}

.conceptsAndResources > .pointersContainer:nth-of-type(odd) {
    background-color: var(--primary-color-light-extreme);
}

.conceptsAndResources > .pointersContainer:nth-of-type(even) {
    background-color: var(--secondary-color-light-extreme);
}

.heartIcon{
    cursor: pointer;
}

@keyframes widthIncrease{
    0% {
        width:0;
    }
    100% {
        width:100%;
    }
}