.solutionsFormAndTips {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top:2rem;
    column-gap:2rem;
}

.solutionsForm {
    display: flex;
    flex-direction: column;
    row-gap:1.25rem;
}

.tips{
    padding: 1rem;
    background-image : -moz-linear-gradient(90deg,#f5faff,#fff8f2);
    background-image : -webkit-linear-gradient(90deg,#f5faff,#fff8f2,);
    background-image : linear-gradient(90deg,#f5faff,#fff8f2);
    box-shadow: var(--box-shadow-light);
    border-radius: 0.25rem;
}

.tipsContainer{
    align-self: center;
    width:90%;
    justify-self: right;
}

.tipsList{
    margin-left:1rem;
    margin-top:0.75rem;
}

.solutionsContainer{
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
}

.solutions{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top:2rem;
    gap:1.5rem;
}

.solution{
    display: flex;
    flex-direction: column;
    row-gap:1rem;
    border: 0.2rem solid var(--primary-color-light);
    padding: 1rem;
    border-radius: 0.25rem;
    box-shadow: var(--box-shadow-light);
    cursor: pointer;
    transition: box-shadow 0.25s ease-in-out;
}

.solution:hover{
    box-shadow: var(--box-shadow-medium);
}

.solutionAuthor {
    display: flex;
    align-items: center;
    column-gap: 0.75rem;
}

.authorImage{
    border-radius: 50%;
    object-fit: cover;
    width:4rem;
    height:4rem;
}

.authorDetails{
    display: flex;
    flex-direction: column;
}

.solutionBy {
    color: var(--dark-color-medium);
    font-weight: 500;
    font-size: var(--body-normal);
}

.authorName{
    font-size: var(--body-medium);
    font-weight: 600;
}

.submitSuccess{
    color: var(--success-color);
    font-weight: 500;
}

.submitError{
    color: var(--error-color);
    font-weight: 500;
}

.noSolutions{
   display: flex;
   flex-direction: column;
   row-gap:1rem;
   width:100%;
   align-items: center;
   justify-content: center; 
   margin-top:1.5rem;
}

.noSolutionSymbol{
    font-size: calc(var(--base-font-size) * 2.5);
    font-weight: 600;
    color: var(--dark-color-medium);
}

.noSolutionText {
    font-size: var(--body-medium);
    font-weight: 500;
}

.loadMoreBtn{
    align-self: center;
}

.infoForUser {
    background-color: var(--info-color-light);
    color: var(--info-color);
    padding:0.5rem;
    border-radius:0.25rem;
    margin-top:1.5rem;
    border-left: 0.2rem solid var(--info-color);
    font-weight: 500;
    display: none;
}

@media (max-width: 1050px) {
    .solutions{
        grid-template-columns: repeat(2,1fr);
    }
}

@media (max-width: 725px) {
    .solutionsFormAndTips {
        display: flex;
        flex-direction: column-reverse;
        row-gap: 1rem;
    }

    .tipsContainer{
        align-self: left;
        width:100%;
        justify-self: left;
    }
    
}

@media (max-width: 700px) {
    .solutions {
        grid-template-columns: repeat(1,1fr);
    }
}