.authLoadingContainer{
    background-color: var(--dark-color-transparent);
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    height:100vh;
    width:100vw;
    z-index:100;
    top:0;
    left:0;
}

.authorizingAnimation {
    background-color: var(--light-color);
    padding:1.5rem;
    border-radius:0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap:1rem
}

.lockIcon{
    width:12%;
    height:auto;
}

.authorizingInfo{
    display: flex;
    column-gap:1rem;
    align-items: center;
}

.authorizingText {
    font-size: var(--body-large);
    font-weight:600;
}