.header{
    padding: 1rem  var(--page-sides-padding);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 0.2rem solid var(--primary-color-light);
}

.navigation{
    display: flex;
    column-gap:4rem;
}

.navLink{
    font-weight:500;
    text-decoration: none;
    color: var(--dark-color);
}
.logo{
    height:1.5rem;
    width:auto;
}