.header{
    padding: 1rem  10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 0.1rem solid var(--primary-color);
}

.navigation{
    display: flex;
    column-gap:2rem;
}

.navLink{
    font-weight:500;
    text-decoration: none;
    color: var(--dark-color);
}
.logo{
    height:1.5rem;
    width:auto;
}