.sideMenuContainer{
    position: fixed;
    top:0;
    left:0;
    width:100vw;
    height:100vh;
    background-color: var(--dark-color-transparent);
    display: flex;
    justify-content: flex-end;
    animation-duration:0.25s !important;
    z-index:10;
}

.sideMenu {
    height:100%;
    background-color: var(--light-color);
    min-width:325px;
    position: relative;
    animation-duration:0.25s !important;
}

.userInfo{
    display: flex;
    flex-direction: column;
    row-gap:1rem;
    border-bottom: 0.2rem solid var(--dark-color-light);
    padding: 2rem 4rem;
}

.userName {
    font-size:1.5rem;
    font-weight: 600;
    color: var(--primary-color);
}

.loginLink{
    text-decoration: none;
}

.userDetails{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap:0.5rem;
}

.userLinks{
    list-style-type: none;
}

.logout{
    font-size: 1.25rem; 
    font-weight: 500;
    cursor: pointer;
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
}

.logoutIcon{
    width:1.5rem;
    height:auto;
}

.sideNavContainer{
    margin-top:2rem;
    padding: 2rem 4rem;
}

.sideNav{
    list-style-type:none;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    align-items: flex-start;
    text-align: center;
}

.sideNavLink {
    font-size:1.5rem;
    font-weight: 600;
    text-decoration: none;
    color: var(--dark-color);
}

.closeIconContainer{
    padding:1rem;
    position: absolute;
    top:1.5%;
    left:-1rem;
    cursor: pointer;
    background-color: var(--secondary-color-light);
    border-radius: 50%;
}

.closeIcon{
    stroke: var(--dark-color);
    stroke-width: 2rem;
    width:1.5rem;
    height:auto;
    position: absolute;
    top:50%;
    left:50%;
    transform: translateX(-50%) translateY(-50%);
}